services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: lorenzoa
      POSTGRES_PASSWORD: lorenzo_dev
      POSTGRES_DB: jeopardydb_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data


volumes:
  postgres_data_dev: