.modal {
    position: fixed;
    background-color: #00309e;
    color: white;
    display: flex;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
    flex-direction: column;
}

.modal.expanded {
    width: 100vw;  
    height: 100vh;  
    top: 0;
    left: 0;
    transition: all 1s ease;
}

.play-modal-content {
  width: 95%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.play-modal-clue,
.play-modal-response {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;  
  flex: 1; 
  align-items: flex-end;
  padding-bottom: 2rem;
}
.play-modal-response {
  border-top: dotted white 3px;
  align-items: flex-start;
  padding-top: 1rem;
  margin-top: 1rem;
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.expanding-modal-header {
  width: 100%;
  height: 8%;
  background-color: #151b4b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal:hover {
  cursor:default;
}


.continue-button {
  flex: 1; 
  padding: 5px;
  text-align: center;
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 100%;
  font-size: large;
}

.continue-button:hover {
  cursor: pointer;
}

.header-title {
  flex: 1;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
}

.header-options {
  flex: 1;
  height: 100%;
  display: flex;
  gap: 1rem;
}

.option {
  font-size: larger;
  text-align: center;
}
.option > kbd {
  background-color: white;
  color: #333;
  padding: 2px 6px;
  border-radius: 3px;
  border: 1px solid #999;
  font-family: monospace;
  font-size: larger;
}