.modal {
    position: fixed;
    background-color: #00309e;
    color: white;
    display: flex;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
    flex-direction: column;
}

.modal.expanded {
    width: 100vw;  
    height: 100vh;  
    top: 0;
    left: 0;
    transition: all 1s ease;
}

.modal-content {
  width: 90%;
  height: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-content > span {
  display: -webkit-box; 
  -webkit-line-clamp: 4;    
  line-clamp: 4;    
  -webkit-box-orient: vertical; 
  overflow: hidden;             
  text-overflow: ellipsis; 
  text-align: center;
  word-break: break-word;  
  font-size: 7rem;
}


.text-content {
  display: -webkit-box; 
  -webkit-line-clamp: 4;    
  line-clamp: 4;    
  -webkit-box-orient: vertical; 
  overflow: hidden;             
  text-overflow: ellipsis; 
  text-align: center;
  word-break: break-word;  
}

.expanding-modal-header {
  width: 100%;
  height: 8%;
  background-color: #151b4b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expanding-modal-header:hover {
  cursor:auto;
}

.header-spacer {
  flex: 1; 
}

.header-title {
  flex: 1;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
}

.header-options {
  flex: 1;
  text-align: right;
  height: 100%;
}