.footer-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 1rem;

}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.player-box {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    color: black;
    width: 70%;
    min-height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: .4rem .4rem 0 0;
    gap: .25rem;
}

.player-points {
    background-color: #00309e;
    width: 90%;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: large;
}

.player-manual-points {
    display: flex;
    gap: 1rem; 
    width: 90%;
    justify-content: center;
}

.plus:hover, .minus:hover {
    cursor: pointer;
}

.player-name {
    border-bottom: solid black 2px;
    width: 90%;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}