.play-cell {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    background-color: #00309e;
    border: 2px solid #1e40af;
    box-sizing: border-box;
}

.play-cell:hover {
    cursor: pointer;
    border: 2.5px solid yellow;
}

.clue-value {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f0ac54;
    -webkit-text-stroke: .01rem #776a78;
}


.clue-content {
    max-width: 80%;
    color: white;
}


@media (max-width: 1100px), (max-height: 350px) {
  .clue-value {
    font-size: 1.5rem;
  }

}

@media (max-width: 600px) {
  .clue-value {
    font-size: 1.0rem;
  }

}