/* span {
  display: -webkit-box; 
  -webkit-line-clamp: 4;    
  line-clamp: 4;    
  -webkit-box-orient: vertical; 
  overflow: hidden;             
  text-overflow: ellipsis; 
  text-align: center;
} */

.text-content {
  display: -webkit-box; 
  -webkit-line-clamp: 4;    
  line-clamp: 4;    
  -webkit-box-orient: vertical; 
  overflow: hidden;             
  text-overflow: ellipsis; 
  text-align: center;
  word-break: break-word;  
}

.cell-wrapping {
  user-select: none;
  position: relative;
  perspective: 800px;
  border: solid black .1rem;
}

.danger {
  color: rgb(255, 255, 0);
  font-weight: bolder;
  font-size: large;
  -webkit-text-stroke: .001rem black;

}

/* originally the two rules below were combined but the pointer was being buggy so i seperated it out */

.cell-wrapping:hover {
  cursor: pointer;
}

.not-hoverable {
  font-size: larger;
  color: rgba(255, 255, 255, 0.2);
}

.hoverable:hover > .edit-cell {
  transform: rotateY(180deg) ;
  transition: transform .5s;
}

.edit-cell {
  width: 100%;
  height: 100%;
  transition: transform .15s;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.cell-front,
.cell-back {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  background-color: #00309e;
  border: 2px solid #1e40af;
  box-sizing: border-box;
}

.cell-back {
  transform: rotateY(180deg); 

  font-size: larger;
  font-weight: bold;
  border: .3rem solid yellow;
}


@media (max-height: 800px) {
  .cell-back > span {
    font-size: medium;
  }

  .text-content  {
    -webkit-line-clamp: 3;
    line-clamp: 3;    
  }
}

@media (max-height: 650px) {
  .cell-back > span {
    font-size: medium;
  }

  .text-content  {
    -webkit-line-clamp: 2;
    line-clamp: 2;   
  }
}

@media (max-height: 300px) {
  .cell-back > span {
    font-size: smaller;
  }

  .text-content  {
    -webkit-line-clamp: 1;
    line-clamp: 1;   
  }
}