/* modal section */

.editing-modal {
  position: fixed;

  display: flex;
  flex-direction: column;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 55vh;
  /* border: 2px solid #000; */
  border-radius: .5rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.editing-modal:focus {
  outline: none;
}

.editing-header {
  width: 100%;
  min-height: 2.5rem;
  background-color: rgb(12, 49, 37);
}

.header-title {
  font-size: larger;
  font-weight: 600;
  height: 100%;
  padding: .25rem;
  width: fit-content;
  margin-left: .25rem;
}

.left-quill, .right-quill {
  height: 100%;
  width: 50%;
  padding: 1rem;
}

.quills {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(153, 77, 77);
  gap: 1rem;
}

@media (max-width: 1035px), (max-height: 500px) {
  .quills {
    flex-direction: column;
    padding-top: 0;
  }
}

.quill {
  width: 100%;
  max-height: 70%;
  font-size: 100%;
  background-color: rgb(255, 255, 255);
}

/* quilljs specific styling */

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center; 
  
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 1.3rem;
}

.ql-editor {
  color: black;
}
