/* Total menu screen styling */

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

/* Actual board styling */

.board {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(6, 1fr); 
  gap: .35rem;
  width: 90vw; 
  height: 70vh; 
  background-color: black;
  padding: .35rem; 
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-wrap: break-word; 
  padding: 5px; 
  box-sizing: border-box;
  width: 100%;
  transform-style: preserve-3d;
}

/* kinda want it to be really general because everything (title, answer text and what not uses span) */
span {
  display: -webkit-box; 
  -webkit-line-clamp: 4;    
  line-clamp: 4;    
  -webkit-box-orient: vertical; 
  overflow: hidden;             
  text-overflow: ellipsis; 
  text-align: center;
  word-wrap: break-word; 
}

.cell-wrapping {
  user-select: none;
  position: relative;
  perspective: 800px;

}

/* originally the two rules below were combined but the pointer was being buggy so i seperated it out */
.cell-wrapping:hover {
  cursor: pointer;
}

.cell-wrapping:hover > .cell {
  transform: rotateY(180deg) ;
  transition: transform .5s;
}

.cell {
  width: 100%;
  height: 100%;
  transition: transform .25s;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.cell-front,
.cell-back {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  background-color: #00309e;
  border: 2px solid #1e40af;
  box-sizing: border-box;
}

.cell-back {
  transform: rotateY(180deg); 

  font-size: larger;
  font-weight: bold;
  border: .2rem solid yellow;
}

@media (max-height: 800px) {
  pan {
    -webkit-line-clamp: 3;
    line-clamp: 3;    
  }

  .cell-back > span {
    font-size: medium;
  }
}

@media (max-height: 600px) {
  span {
    -webkit-line-clamp: 2;
    line-clamp: 2;   
  }

  .cell-back > span {
    font-size: medium;
  }
}

.title {
  background-color: #00309e;
  border: 2px solid #172550;
  /* 
   i know you are prolly thinking. how the hell did you come up with .5rem + .85vw?
   tbh i dont really know 
  */
  font-size: calc(.5rem + .85vw); 
  margin-bottom: .1vh;
  font-weight: bold;
}


/* modal section */

.editing-modal {
  position: fixed;

  display: flex;
  flex-direction: column;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 55vh;
  border: 2px solid #000;
  border-radius: 2rem 2rem 1.5rem 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

}

.modal-header {
  width: 100%;
  height: 10%;
  background-color: rgb(12, 49, 37);
  border-radius: 1.5rem 1.5rem 0 0 ;
}
