.board {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(6, 1fr); 
  gap: .35rem;
  width: 90vw; 
  height: 70vh; 
  background-color: black;
  padding: .35rem; /* Optional: add padding around edges */
}

.true-cell,.false-cell, .title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s;
  word-wrap: break-word; 
  padding: 5px; 
  box-sizing: border-box;
}

.true-cell span {
  display: -webkit-box; 
  -webkit-line-clamp: 4;    
  line-clamp: 4;    
  -webkit-box-orient: vertical; 
  overflow: hidden;             
  text-overflow: ellipsis; 
  text-align: center;
  word-wrap: break-word; 
}


@media (max-height: 800px) {
  .true-cell span {
    -webkit-line-clamp: 3;
    line-clamp: 3;    
  }
}

@media (max-height: 600px) {
  .true-cell span {
    -webkit-line-clamp: 2;
    line-clamp: 2;   
  }
}

.false-cell {
  background-color: #00309e;
  border: 2px solid #1e40af;
  font-size: 250%;
  color: #edae59;
}

.true-cell {
  background-color: #00309e;
  border: 2px solid #1e40af;
  font-size: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;

}

.title {
  background-color: #00309e;
  border: 2px solid #172550;
  /* 
   i know you are prolly thinking. how the hell did you come up with .5rem + .85vw?
   tbh i dont really know 
  */
  font-size: calc(.5rem + .85vw); 
  margin-bottom: .1vh;
  font-weight: bold;
}

.true-cell:hover {
  background-color: #3b82f6;
  transform: scale(1.02);
}

