/* Total menu screen styling */

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Actual board styling */

.board {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(6, 1fr); 
  gap: .35rem;
  width: 90vw; 
  height: 70vh; 
  background-color: black;
  padding: .35rem; 
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-wrap: break-word; 
  padding: 5px; 
  box-sizing: border-box;
  width: 100%;
  transform-style: preserve-3d;
}

/* kinda want it to be really general because everything (title, answer text and what not uses span) */


.title {
  background-color: #00309e;
  border: 2px solid #172550;
  /* 
   i know you are prolly thinking. how the hell did you come up with .5rem + .85vw?
   tbh i dont really know 
  */
  font-size: calc(.5rem + .85vw); 
  margin-bottom: .1vh;
  font-weight: bold;
}

