.quills {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  gap: 3rem;
}

@media (max-width: 1035px), (max-height: 500px) {
  .quills {
    flex-direction: column;
    padding-top: 0;
  }
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center; 
  
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 1.3rem;
}


.quill {
  width: 100%;
  height: 50%;
  font-size: 100%;
}
